{
    "CN": "{{item.id}}",
    "hosts": {{item.sans|to_json}},
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "RU",
            "L": "Moscow",
            "ST": "Russia"
        }
    ]
}
