"version": 1
"control-service":
   "hostname": "flocker-01.cybertonica.aws"
   "port": 4524

# The dataset key below selects and configures a dataset backend (see below: aws/openstack/etc).
# All nodes will be configured to use only one backend

dataset:
   backend: "aws"
   region: "eu-west-1"
   zone: "eu-west-1b"
   access_key_id: "AKIAI3UJR5WHVOO6DGZQ"
   secret_access_key: "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"
