{
  "CN": "ca.{{cbt_cloud.domain}}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
    "names": [
       {
         "C": "RU",
         "L": "Moscow",
         "O": "Cybertonica Ltd.",
         "OU": "CA Services"
       }
    ]
}
